{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "./node_modules/eslint-config.xyz/targets/node"
  ],
  "settings": {
    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5,
    }
  },
  "rules": {
    "newline-after-var": "off"
  },
}
