{
  "root"    : true,
  "parser": "babel-eslint",
  "extends" : [
    "@codemachiner/eslint-config/targets/node"
  ],
  "settings": {
    "import/resolver": "node",

    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5,
    }
  }
}
